/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
.form {
    padding: 60px;
    width: 450px;
}
